
@font-face {
  font-family: 'AlternateGothicNo2BT-Regular';
  src: url('AlternateGothicNo2BT-Regular.eot?#iefix') format('embedded-opentype'),  url('AlternateGothicNo2BT-Regular.otf')  format('opentype'),
	     url('AlternateGothicNo2BT-Regular.woff') format('woff'), url('AlternateGothicNo2BT-Regular.ttf')  format('truetype'), url('AlternateGothicNo2BT-Regular.svg#AlternateGothicNo2BT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
